<% @pictures.each do |picture| %>
  <div class="pics-container">
    <a href="/pictures/<%= picture.id %>"><img src="<%= picture[:url] %>"></a>
  </div>
<% end %>

  <div class="row">
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
  </div>