<div class="pic-container">
  <a href="/"><img src="<%= @picture[:url] %>"></a>
</div>
<div class="menu">
  <a href="<%= @picture.url %>" target="_blank">Link</a> 
  <%= link_to "Delete", @picture, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %>
</div>

